<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar">
    <a href="/" class="nav-link active">Home</a>
    <a href="/book" class="nav-link">Book</a>
    <a href="/about" class="nav-link">About</a>
</nav>
<h1>Book List</h1>

<div>
    <a href="/book?sortBy=title"><button>Sort by Title</button></a>
    <a href="/book?sortBy=author"><button>Sort by Author</button></a>
</div>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <!-- Loop through books -->
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>