<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<head>
    <meta charset="UTF-8">
    <title>BarrowBooks</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Include the navigation from index.html -->
<div th:replace="~{index :: mainNavbar}"></div>
<!-- Rest of the books page content -->

<h1>Welcome to BarrowBooks!</h1>
<p>Here the list of available books in our library.</p>
</body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">Sample Title</td>
        <td th:text="${book.author}">Sample Author</td>
    </tr>
    </tbody>
</table>
</html>