<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
      //xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"

<head>
    <meta charset="UTF-8">
    <title>BarrowBooks</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Include the navigation from index.html -->
<div th:replace="~{index :: mainNavbar}"></div>
<!-- Rest of the books page content -->

<h1>Welcome to BarrowBooks!</h1>
<p>Browse our collection of books below.</p>
</body>
</html>