<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
    <link rel="stylesheet" href="/css/logs.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="/custom-login">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button type="submit">Login</button>
        </form>
        <th:block th:if="${error}">
            <span style="color:red;" th:text="${error}"></span>
        </th:block>
        <p>Don't have an account? <a href="/user-signup">Sign up here</a></p>
        <button type="button" onclick="window.location.href='/'" class="back-btn">Back</button>
    </div>
</body>
</html>